%<%
	String.prototype.prettify = function() {
		return this.replace(/@l<(.*?)>/g, "\\textit{$1}")     			// Latin names in italic
		           .replace(/#j<(.*?)>/g, "\\textbf{$1}")     			// Make #j<> items bold
		           .replace(/<(.*?)>/g, "{\\normalfont $1}")  			// Undo italic/bold 
		           .replace(/\*([\d]|#)\*/, "\\textsuperscript{$1}")	// Superscript homophones numbers
		           .replace(/\s-\s/g, "---")                     // Convert " - " to em dashes
	}

	String.prototype.texscape = function() {
		return this.replace(/([#|&|\_|\$|%])/g, "\\\$1")   	// Escape semantically-relevant TeX symbols, i.e. # => \#
		           .replace(/\s'/g, " `")                  // Deal with starting and sentence-initial quotes
		           .replace(/\s"/g, " ``")                 // since TeX wants ``...'' and not "..."
		           .replace(/^'/g, "`")
		           .replace(/^"/g, "``")
				   .replace(/\^\[.*?\]/g, "")
	}

	function format_crefs(cross_refs) {
		var cref_labels = {
			"antonyms":  "Opposite of",
			"comp_sl": "Handsign",
			"comp_wlps": "See also",
			"synonyms":  "Same as"
		}

		return Object.entries(cross_refs)
			   .filter(([k, v]) => v != null)
			   .map(([k, v]) => `\\textsc{${ cref_labels[k] }}: ${ v.join(", ").prettify().texscape() }`)
			   .join(". ")
	}
%>
%
<% if(entry_label) { -%>
	\textbf{\large
	<%- entry_label.texscape().replace(/\*([\d]|#)\*/, "\\textsuperscript{$1}").replace(/\s\(([A-Z])/, '} {\\small ($1') -%>}
<% } -%>
%
<% sense_entries.map((sense_entry, index) => { -%>
%
	<% if(sense_entries.length > 1 & !sense_entry.pdx_label) { -%>
		<%= index + 1 -%><% if(sense_entry.sense_label) { -%><%- " " + sense_entry.sense_label.texscape() -%><% } -%>.
	<% } -%>
%
	<% if(sense_entry.pdx_label) { -%>
		\begin{indentmore}
		<%- sense_entry.pdx_label.texscape() -%>
	<% } -%>
%
	<% if(sense_entry.glosses) { -%>
		<%- sense_entry.glosses.replace(/\^/g, '').replace(/@,/g, ",").texscape().replace(/\[.*?\]/g, "") -%>.
	<% } -%>
%
	<% if(sense_entry.definition) { -%>
		[<%- sense_entry.definition.replace(/\s+\.$/, '').replace(/\^/g, '').prettify().texscape() -%>].
	<% } -%>
%
	<% if(sense_entry.lat_name) { -%>
		\textit{(<%- sense_entry.lat_name.prettify().texscape() -%>)}.
	<% } -%>
%
	<% if(sense_entry.eng_origin) { -%>
		<%- sense_entry.eng_origin.replace(/<(.*?)>/g, '\\textit{$1}') -%>.
	<% } -%>
%
	<% if(sense_entry.comments) { -%>
		<%- sense_entry.comments.join(". ").replace(/\^/g, "").prettify().texscape() %>
	<% } -%>
%
	<% if(sense_entry.examples) { -%>
		<% sense_entry.examples.map(eg_block => { -%>
			<% eg_block.example_pairs.map(eg_pair => { -%>
				◆\nobreakspace\wlptext{<%- eg_pair.wlp.prettify().texscape() -%>}
				\textit{<%- eg_pair.eng.replace(/\^/g, "").prettify().texscape() -%>}
			<% }) -%>
		<% }) -%>
	<% } -%>
%
	<%- sense_entry.cross_refs != null ? format_crefs(sense_entry.cross_refs) + ". " : "" -%>
%
	<% if(sense_entry.pdx_label) { -%>
		\end{indentmore}
	<% } -%>
%
	<% if(sense_entry.pdg_examples) { -%>
		<%- include('entry_body.ejs', { "entry_label" : null, "sense_entries" : sense_entry.pdg_examples }) -%>
	<% } -%>
%
<% }) %>
